<div class="card">
  <div class="card-header">
   <h3> Books List </h3>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>pictureUrl</th>
          <th>Resume</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td > <img [src]= item.pictureUrl
          [width]=width>
        </td>
          <td>{{item.resume}} <ngb-datepicker></ngb-datepicker></td>
          <td>{{item.price}}</td>
        </tr>

      </tbody>
    </table>



  </div>

</div>
